{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinical Data Creation</title>
    <link rel="stylesheet" href="{% static 'my_app/css/clinicals.css' %}">
</head>
<body>
    <h2>Patient details</h2>
    First Name : {{patient.FirstName}}
    Last Name : {{patient.LastName}}
    Age : {{patient.Age}}
    <h2>Patient Clinical Data:</h2>
    <form method="post">
        <table>
            {{form.as_table}}
        </table>
        {%csrf_token%}
        <input type="submit" value="Save">
    </form>
</body>
</html>