{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" href="{% static 'my_app/css/clinicals.css' %}">
</head>
<body>
    <h2> Delete Patient {{patient.FirstName}}</h2>
    <form action="" method="post">
        <input type="submit" value="Confrim">
        <a href="/">Cancel</a>
        {%csrf_token%}
    </form>

</body>
</html>