{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Creation</title>
    <link rel="stylesheet" href="{% static 'my_app/css/clinicals.css' %}">
</head>
<body>
    <h1>Create a Patient Record</h1>
    <form  method="post">
        <table>
            {{form.as_table}}
            {%csrf_token%}
        </table>
        <br>
            <input type="submit" value="Save">
    </form>
</body>
</html>